.btnRestart {
   background: url('../../public/icons/restart.png');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 80%;
   background-color: var(--middleLightergray);
   border: 2px solid var(--darkgray);
   border-radius: 5px;
   width: 30px;
   height: 30px;
   cursor: pointer;
   font-size: 0.9rem;
   user-select: none;
}

.btnRestart:hover {
   border-color: var(--verydarkgray);
}
.btnRestart:active {
   transform: scale(0.95);
}
