.cell {
   width: 25px;
   height: 25px;
   border-left: 3px solid var(--lightgray);
   border-top: 3px solid var(--lightgray);
   border-bottom: 3px solid var(--darkgray);
   border-right: 3px solid var(--darkgray);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: default;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.cell.revealed {
   border: 0.5px solid var(--darkgray);
}

.cell.col1 {
   color: blue;
}
.cell.col2 {
   color: green;
}
.cell.col3 {
   color: red;
}
.cell.col4 {
   color: darkblue;
}
.cell.col5 {
   color: darkred;
}
.cell.col6 {
   color: rgb(90, 44, 0);
}
.cell.col7 {
   color: rgb(1, 37, 0);
}
.cell.col8 {
   color: rgb(0, 0, 0);
}

.cell.bomb {
   color: transparent;
   background: url('../../public/icons/bomb.jpg') center center / cover no-repeat;
   padding: 2px;
   background-color: var(--darkgray);
}
.cell.bomb.bomb-clicked {
   background: url('../../public/icons/bomb-clicked.jpg') center center / cover
      no-repeat;
}
.cell.flag {
   color: transparent;
   background: url('../../public/icons/flagCorrect.jpg') center center / cover no-repeat;
   background-size: 100%;
}
.cell.flagIncorrect {
   color: transparent;
   background: url('../../public/icons/flagIncorrect.jpg') center center / cover no-repeat;
   background-size: 100%;
}
